html,
body {
  height: 100%;
}

html, body {
  min-height: 100vh;
}

body {
  @extend %opensans-400;
  font-size: 20px;
  line-height: 27px;
  color: vars.$color-primary;
}

.logo {
  display: inline-block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

input {
  border: 0;
}

.visually-hidden,
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

.flex-aic {
  align-items: center;
}