@media (max-width: 1370px) {
  .top {
    min-height: 800px; /* Уменьшаем минимальную высоту для экранов до 1100px */
    height: 70vh; /* Адаптивная высота, зависящая от высоты viewport */
  }
}

@media (max-width: 1200px) {
  .about-collection {
    padding: 90px 0 90px;
  }

  .about-collection__content {
    max-width: 434px;
    font-size: 15px;
    line-height: 1.2;
  }

  .about-collection__img {
    min-height: auto; /* Снимаем фиксированную min-height, пусть изображение адаптируется */
    height: 100%; /* Растягивает изображение по высоте родителя */
    object-fit: cover;
  }

  .about-collection__text:not(:last-child) {
    margin-bottom: 50px;
  }

  .about-collection__caption {
    margin-bottom: 60px;
  }
}

@media (max-width: 1100px) {
  .header__lang {
    margin-right: 98px;
  }

  .top {
    min-height: 600px; /* Уменьшаем минимальную высоту для экранов до 1100px */
    height: 70vh; /* Адаптивная высота, зависящая от высоты viewport */
  }

  .top__title {
    font-size: 60px; /* Уменьшаем размер текста для компактности */
    max-width: 400px; /* Сужаем максимальную ширину заголовка */
    margin-bottom: 20px; /* Уменьшаем отступ снизу */
  }

  .top__link {
    padding: 10px 30px; /* Уменьшаем отступы кнопки */
    font-size: 16px; /* Немного уменьшаем текст кнопки */
  }

  .top__inner {
    justify-content: flex-start;
    padding-top: 74px;
  }

  .new-collection {
    padding: 80px 0; // Уменьшаем отступы для мобильных

    &__inner {
      flex-direction: column;
      align-items: center;
    }

    &__content {
      max-width: 100%;
      padding: 40px 20px 20px;
      text-align: center;
    }

    &__title {
      font-size: 35px;
    }

    &__btn {
      align-self: center;
      margin-top: 20px;
    }

    &__img {
      margin-top: 20px;
      width: 100%;
    }

    &__img img {
      width: 100%;
      height: auto;
    }

    &__box {
      min-height: auto;
      position: static;
      padding: 20px;
      width: 100%;
      flex-direction: column;
      align-items: center;
    }

    &__box-img {
      position: static;
      left: 0;
      margin-bottom: 20px;
    }

    &__box-img img {
      min-width: auto;
      width: 100%;
      height: auto;
    }

    &__caption {
      position: static;
      margin: 0 auto;
      text-align: center;
      align-self: center;
    }
  }

  .our-advantages__img {
    left: 0;
    height: 110%;
    object-fit: cover;
  }

  .our-advantages__inner {
    padding: 30px 0;
  }

  .our-advantages__list {
    column-gap: 40px;
  }
}

@media (max-width: 1000px) {
  .header__lang {
    margin-right: 60px;
  }

  .menu__list {
    gap: 15px;
  }

  .join-us__inner {
    gap: 25px;
  }

  .join-us__box {
    padding: 30px 0;
  }

  .about-collection__inner {
    gap: 10px;
  }

  .footer {
    &__elements {
      flex-wrap: wrap;
    }

    &__element--social {
      width: 100%;
    }
  }

  .footer__element-title {
    display: none;
  }

  .footer__social-list {
    justify-content: flex-end;
  }
}

@media (max-width: 990px) {
  .about-collection__content {
    max-width: 450px;
    font-size: 14px;
  }

  .about-collection__img {
    max-width: 400px;
    min-height: auto; /* Адаптивная высота */
    height: 100%; /* Растягивает изображение по высоте родителя */
  }

  .about-collection__link {
    padding: 10px 100px;
  }

  .about-collection__text:not(:last-child) {
    margin-bottom: 40px; /* Меньше отступов */
  }

  .our-advantages__img {
    width: 320px;
  }

  .our-advantages__inner {
    margin-right: 110px;
    padding: 24px;
  }

  .our-advantages__title {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .our-advantages__list {
    column-count: 1;
  }

  .our-advantages__item {
    margin-bottom: 20px;
  }
}

@media (max-width: 800px) {
  body.lock {
    overflow-y: hidden;
  }

  .container {
    max-width: 660px;
  }

  .header__inner {
    align-items: center; /* выравнивание по вертикали у контейнера */
  }

  .header__btn {
    display: inline-block;
    position: relative;
    z-index: 10;
  }

  .menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 100px 0 100px;
    text-align: center;
    background-color: #fff;
    z-index: 5;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
  }

  .menu.menu--active {
    transform: translateY(0);
    background-color: #fff;
  }

  .header__lang {
    margin-right: 0;
    margin-bottom: 37px;
  }

  .header__logo {
    width: auto;
    margin-left: auto;
    margin-right: 173px;
    transform: translateY(14px);
  }

  .menu__list {
    flex-direction: column;
  }

  .top {
    background-position: top;
  }

  .top__title {
    font-size: 45px; /* Уменьшаем размер текста для компактности */
  }

  .join-us__inner {
    gap: 20px;
  }

  .join-us__title {
    font-size: 30px;
  }

  .join-us__text {
    font-size: 20px;
  }

  .about-collection__title {
    font-size: 35px;
  }

  .about-collection__img {
    max-width: 315px;
  }

  .about-collection__text-mob {
    display: none;
  }

  .about-collection__caption {
    margin-bottom: 0px;
  }

  .our-advantages__inner {
    margin-right: 0;
  }

  .our-advantages__item + .our-advantages__item {
    margin-top: 20px;
  }

  .our-advantages__item {
    margin-bottom: 0;
  }

  .our-blog {
    padding: 90px 0;
  }

  .our-blog__text {
    margin-bottom: 25px;
  }

  .our-blog__title {
    font-size: 30px;
    line-height: 1.2;
  }

  .our-blog__img {
    object-fit: cover;
  }

  .our-blog__link {
    padding: 10px 74px;
  }

  .footer__menu-list {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 30px;
  }

  .footer__menu-logo {
    position: absolute;
    top: 20px;
  }

  .footer__elements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
  }

  .footer__elements > *:nth-child(2n) {
    justify-self: end;
    text-align: right;
  }

  /* Левая колонка */
  .footer__element--location {
    grid-column: 1;
    grid-row: 1;
  }

  .footer__element--emails {
    grid-column: 1;
    grid-row: 2;
  }

  /* Правая колонка */
  .footer__element--phones {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    text-align: right;
  }

  .footer__element--newsletter {
    grid-column: 2;
    grid-row: 2;
  }

  .footer__element--social {
    grid-column: 2;
    // grid-row: 3;
    width: auto;
    // justify-self: end;
  }
}

@media (max-width: 650px) {
.our-advantages__inner {
  padding: 24px 0;
}

  .our-advantages__img {
    width: 220px;
    object-fit: cover;
  }

  .our-advantages__title {
        font-size: 20px;
        
    }

    .our-advantages__item + .our-advantages__item {
    margin-top: 15px;
  }

    .our-advantages__item {
      font-size: 16px;
    }

}

@media (max-width: 600px) {
  .container {
    max-width: 480px;
  }

  .header__logo {
    margin-right: auto;
  }

  .top {
    min-height: 400px;
    height: 40vh;
  }

  .top__title {
    font-size: 35px;
    max-width: 340px;
  }

  .join-us__title {
    font-size: 20px;
  }

  .join-us__text {
    font-size: 16px;
  }

  .about-collection__inner {
    flex-direction: column;
    align-items: center;
  }

  .about-collection__content {
    max-width: 100%; /* Полная ширина */
    margin-bottom: 30px; /* Отступ между блоками */
  }

  .about-collection__box {
    max-width: 100%; /* Полная ширина для правого блока */
  }

  .about-collection__img {
    width: 100%;
    height: auto; /* Полностью адаптивное изображение */
    object-fit: contain; /* contain, чтобы не обрезать */
  }

  .about-collection__title {
    text-align: center;
  }

  .about-collection__text {
    font-size: 14px;
    text-align: center;
  }

  .about-collection__text-mob {
    display: block;
  }

  .about-collection__caption {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .footer__menu-list {
    flex-wrap: wrap;
    gap: 11px 35px;
    padding-left: 87px;
    padding-right: 87px;
  }

  .footer__elements {
    display: flex;
    flex-direction: column;
    gap: 30px 100px;
    justify-content: center;
    text-align: center;
  }

  .footer__elements > *:nth-child(2n) {
    justify-self: center;
    text-align: center;
  }

  .footer__elements > *:nth-child(1n) {
    justify-self: center;
    text-align: center;
  }

  .footer__form {
    justify-content: center;
    justify-self: center;
    text-align: center;
  }

  .footer__element--social .footer__social-list {
    margin-top: 0;
    justify-content: center;
  }

  .footer__bottom-inner {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .footer__copy {
    padding-left: 0;
  }

  .footer__bottom-list {
    padding-right: 0;
  }
}

@media (max-width: 470px) {
  .header__actions-list {
    gap: 15px;
  }

  .header__logo {
    margin-bottom: 0;
    margin-right: 79px;
    transform: translateY(0px);
  }

  .top__title {
    font-size: 25px;
    max-width: 233px;
  }

  .top__inner {
    padding-top: 60px;
  }

  .top__link {
    padding: 10px 10px;
  }

  .join-us__text {
    margin-bottom: 20px;
  }

  .about-collection {
    padding: 50px 0 50px;
  }

  .about-collection__title {
    font-size: 30px;
  }

  .about-collection__text:not(:last-child) {
    margin-bottom: 20px;
  }

  .about-collection__caption {
    margin-bottom: 20px;
  }

  .our-advantages__img {
    width: 100%;
    height: 185px;
    top: -100px;
    object-position: top;
  }

  .our-advantages__inner {
    padding: 110px 0 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .our-advantages__item {
    padding-left: 0;
    padding-top: 20px;
  }

  .our-blog {
    padding: 50px 0;
  }

  .our-blog__inner {
    flex-direction: column;
  }

  .our-blog__box {
    max-width: 100%;
  }

  .our-blog__data-blog--box {
    margin-bottom: 30px;
  }

  .our-blog__title {
    text-align: center;
  }

  .our-blog__img {
    width: 100%;
  }

  .our-blog__link {
    text-align: center;
  }

  .footer__menu-list {
    padding-left: 27px;
    padding-right: 27px;
  }
}

@media (max-width: 360px) {
  .header__logo {
    width: 100%;
    margin-bottom: 10px;
    order: -1;
  }
}
